<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="Mainul Photography.">
<meta name="theme-color" content="#1b5e76">
<meta name="robots" content="all">
<meta name="Copyright" CONTENT="Mainul Photography.">
<meta name="Publisher" CONTENT="Mainul Photography.">
<meta name="distribution" CONTENT="Global">
<meta name="Robots" CONTENT="INDEX,FOLLOW">
<meta name="zipcode" CONTENT="1230">
<meta name="city" CONTENT="Dhaka">
<meta name="country" CONTENT="BD">
<meta name="revisit-after" content="1">
<meta name="geo.region" content="BD-13" />
<meta name="geo.placename" content="Dhaka" />